header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.6rem;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(129, 133, 137, 0.6);
}

.nav-center {
    position: relative;
    left: 1.2rem;
}

.nav-right,
.nav-left {
    width: 20rem;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.nav-center button {
    margin: 0 2.5rem;
}